.list-entry-container{
    border: 1px solid #998C7A;
    @include border-bottom-radius(20px);
}

.list-entry-table{
    background: #E8D4BA;
    width: 100%;
    border-collapse: collapse;
    @include border-bottom-radius(20px);

    tbody{
        @include border-bottom-radius(20px);

        :last-child{
            border: none;
        }
    }
}

.list-entry-row{
    border-bottom: 1px solid #998C7A;
    @include border-bottom-radius(20px);
}

.list-entry-check-container{
    width:24px;
}

.list-entry-button-check{
    background: transparent;
    border: 1px solid #5C5449 !important;
    @include border-radius(30px);
    width:40px;
    height: 40px;
    outline: none;

    i{
        color: #5C5449;
        position: relative;
        font-size: 1.5em;
    }
}

.list-entry-button-nocheck{
    display:none;
}

.list-entry-text-container{
    width: calc(100% - 48px);
    padding-left: 12px;
}

.list-entry-text{
    font-family: $primary-font;
    font-weight: 400;
    color: #5C5449;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    resize: none;
    padding: 0;
}

.list-entry-text-checked{
    text-decoration: line-through;
}

.list-entry-delete-button{
    color: #5C5449;
    width: 30px;
    float: right;
    background: transparent;
    border: none;
    @include border-radius(30px);
    text-align: center;
    margin-left: 5px;
    outline: none;

    i{
        position: relative;
        left: -2px;
        font-size: 1.5em;
    }
}

.list-entry-delete-button:active{
    background: #B5A591;
}
