body {
  background: #eee; }

* {
  font-family: "Open Sans", sans-serif; }

.lists-area {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0px; }
  .lists-area::after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 0px) and (max-width: 920px) {
  .lists-area {
    width: 95%; } }

.footer-spacing {
  height: 100px; }

.visible-mobile-only {
  display: none; }
  @media (min-width: 0px) and (max-width: 920px) {
    .visible-mobile-only {
      display: inline-block; } }

@media (min-width: 0px) and (max-width: 920px) {
  .visible-non-mobile {
    display: none; } }

.full-screen-splash {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 21; }

.dialog-box-container {
  background: #777;
  position: absolute;
  width: 33.33%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }
  @media (min-width: 0px) and (max-width: 920px) {
    .dialog-box-container {
      width: 90%; } }
  @media (min-width: 921px) and (max-width: 1425px) {
    .dialog-box-container {
      width: 50%; } }

.dialog-box-content-container {
  padding: 10px; }
  .dialog-box-content-container label {
    margin: 10px 10px;
    color: white;
    font-family: "Open Sans", sans-serif;
    display: block; }
  .dialog-box-content-container input[type=text] {
    width: calc(100% - 10px);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    border: none;
    background: white;
    line-height: 40px;
    padding-left: 10px; }
    .dialog-box-content-container input[type=text]:focus {
      outline: none; }
  .dialog-box-content-container select {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    line-height: 40px;
    height: 44px;
    width: 100%;
    padding-left: 10px; }
    .dialog-box-content-container select:focus {
      outline: none; }
    .dialog-box-content-container select option:hover {
      background-color: #E88714;
      color: white;
      box-shadow: inset 20px 20px #E88714; }
    .dialog-box-content-container select option:focus {
      background-color: #E88714;
      color: white;
      box-shadow: inset 20px 20px #E88714; }

.dialog-box-header-container {
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 5px;
  border: 1px solid #777;
  background: #E88714;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  -ms-border-top-left-radius: 20px;
  -ms-border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }
  .dialog-box-header-container h1 {
    font-family: "Open Sans", sans-serif;
    float: left;
    margin: 0px;
    font-size: 20px;
    font-weight: 400; }

.dialog-box-header-container::after {
  content: "";
  display: table;
  clear: both; }

.dialog-box-header-button-container {
  float: right; }

.dialog-box-header-close-button {
  color: white;
  width: 30px;
  height: 30px;
  float: left;
  background: transparent;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  margin-left: 5px;
  outline: none; }
  .dialog-box-header-close-button i {
    font-size: 1.5em;
    position: relative;
    left: 0px; }

.dialog-box-header-close-button-icons {
  position: relative;
  left: -6px;
  top: -1px;
  display: inline-block;
  line-height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: bottom; }

.dialog-box-header-close-button:active {
  background: #A6610F; }

.dialog-error-container {
  color: red;
  text-align: center;
  width: 100%;
  margin: auto;
  font-weight: bold; }

.dialog-box-submit-button-container {
  width: calc(100% - 20px);
  height: 50px;
  margin: 10px 10px; }

.dialog-box-submit-button {
  float: right;
  font-family: "Open Sans", sans-serif;
  color: white;
  display: inline-block;
  margin-left: 5px;
  border: 1px solid white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  line-height: 40px;
  background: transparent;
  outline: none; }
  .dialog-box-submit-button:hover {
    color: #E88714;
    background: white; }
